.listStoresContent{
    background: #2a2a2a;
    height: 100%;
}
.listStoresParentDiv{
    // width: 100%;
    // padding: 5% 20%;
    ion-item{
       color: #6d6d6d !important;
       padding: 0px 25px;
       background: #2a2a2a !important;
    }
    ion-col{
        padding: 8px 0px;
    }
    .item-inner{
        border-bottom: 1px solid #505050 !important;
    }
    ion-grid{
        padding: 0px;
    }
    .item-inner{
        padding: 0px !important;
    }
}
.listStoreDet{
    text-align: left;
}
.listStoreDis{
    text-align: right;
}
.listStoreDet{
    h2{
        width:100%;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        font-size: 14px !important;
         margin: 8px 0 !important;
    }
}
.listStoreDis{
    div{
        font-size: 1.2rem;
        font-weight: 500;
        font-family: CabinSketchRegular !important;
    }
}
.listStoreColDiv{
    margin-top: 20px;
}
.addrHdr{
    font-size: 13px !important;
}