.mapBorder{
    background-color: white !important;
}

.locDet{
    color: #4a4a4a;
    font-size: 13px;
    width: 60%;
    white-space: initial;
    margin-left: 2%;
}

.locAdd{
    color: #4a4a4a;
    font-size: larger;
    width: 60%;
    white-space: initial;
    margin-left: 2%;
    font-weight: bold;
    text-transform: uppercase;
}

.locMiles{
    color: yellow;
    font-size: larger;
    width: 60%;
    white-space: initial;
    text-align: right;
    float: right;
    /* top: 11% !important; */
    margin-top: 1.4%;
}

.bgRes{
    background-color: #312f2f;
  }

  .callPhone{
      border : 1px solid white;
  }

  .imgFeatures{
      max-width: 60%;
  }

  .sebm-google-map-container-inner[_ngcontent-qdx-40] {
    width: 102%;
    height: inherit;
    margin-left: -1%;
    margin-top: -1%;
}