.mapBorder{
    background-color: white !important;
}

.locDet{
    padding-top: 7px;
    color: #4a4a4a;
    font-size: 13px;
    width: 60%;
    white-space: initial;
}

.locAdd{
    padding-top: 7px;
    color: #4a4a4a;
    font-size: larger;
    width: 60%;
    white-space: initial;
    font-weight: bold;
    text-transform: uppercase;
}

.locMiles{
    color: yellow;
    font-size: larger;
    width: 60%;
    white-space: initial;
    text-align: right;
    float: right;
    /* top: 11% !important; */
    margin-top: 1.4%;
}

.bgRes{
    background-color: #312f2f;
    padding: 0px !important;
    .scroll-content{
        padding: 0 !important;
    }
  }

  .callPhone{
      border : 1px solid white;
  }

  .imgFeatures{
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-right: 10px;
  }
  .imgFeaturesDiv{
    display: inline-block; 
  }
  .gridFeatures{
      ion-col{
         padding: 5px 5px 5px 0px;
      }
  }

  .sebm-google-map-container-inner[_ngcontent-qdx-40] {
        width: 113%;
    height: inherit;
    margin-left: -6%;
    margin-top: -1%;
}
sebm-google-map-container-inner{
    width: 113%;
    margin-left: -6%;
}

.setPickup .button-ios {
    width: 100%;
    background-color: #ff9433;
    overflow: hidden;
    padding: 0 1.1em;
    height: 3.6rem;
    border-radius: 2px;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.setPickup .button-md {
    width: 100%;
    background-color: #ff9433;
    overflow: hidden;
    // margin: 0.4rem 4rem 0.4rem 2.2rem;
    padding: 0 1.1em;
    height: 3.6rem;
    border-radius: 2px;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bgRes .scroll-zoom-wrapper{
     margin-left: -1.56rem;
}
.setPickUpBtn{
    padding-top: 20px;
    padding-bottom: 20px;
}
.bgRes ion-grid{
    padding-left: 30px;
    padding-right: 30px;
}
