<ion-header class="headerStore button_font" *ngIf="platFormType == 'Windows' ">
   <div style="text-align: center">{{firstParam.header}}
  </div>
  <ion-fab top left edge class="leftFab">
    <button ion-fab mini (click)="backToRestraunt()"><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon></button>
  </ion-fab>
          <span class="navigationImg_Store">
      <img src="../../assets/imgs/store_map_navigations.png" />
    </span>
</ion-header>
<ion-header class="headerStoreMob button_font" *ngIf="platFormType !== 'Windows' ">{{firstParam.header}}
  <ion-fab top left edge class="leftFab">
    <button ion-fab mini (click)="backToRestraunt()"><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon></button>
  </ion-fab>
          <span class="navigationImg_Store">
      <img src="../../assets/imgs/store_map_navigations.png" />
    </span>
</ion-header>

<ion-content padding class="bgRes">
  <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">

    <sebm-google-map-marker [iconUrl]="'../../assets/imgs/map1.png'" *ngFor="let m of mapDetList; let i = index" (markerClick)="clickedMarker(m.label, i,m)"
      [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">

      <sebm-google-map-info-window>
        <strong>{{firstParam.header}}</strong>
      </sebm-google-map-info-window>

    </sebm-google-map-marker>

    <sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="10000" [fillColor]="'red'" [circleDraggable]="true"
      [editable]="true">
    </sebm-google-map-circle>

  </sebm-google-map>
  <!--<p style="color: white;font-size: 15px;margin-left: 1.5rem;">Features <span style="float: right;">Distance</span></p>
    <p>
      <img class="imgFeatures" src="../../assets/imgs/features.png" />
     <span style="float: right;padding-top: 10px;color: #ff871c;font-weight: bold;font-size: 20px;">{{firstParam.long}} <span style="color:white;font-size: 15px;"> MI </span></span>
      </p>-->
  <ion-grid class="gridFeatures">
    <ion-row>
      <ion-col width-80>
        <span style="color: white;font-size: 15px;">Features</span> <br>
        <div class="imgFeaturesDiv" *ngFor="let item of parFeatures">
          <img class="imgFeatures" [src]=item.img />
        </div>
      </ion-col>
      <ion-col width-20>
        <div style="float: right">
          <span style="color: white;font-size: 15px;">Distance</span>
          <div class="slide_font" style="padding-top: 14px;color: #ff871c;font-weight: bold;font-size: 18px;text-align: center;">{{firstParam.long}}<span class="button_font" style="color:white;font-size: 15px;"> MI </span></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--<div *ngIf = "platFormType == 'Windows' " style="background:white;width: 135rem;">
      <p  class="locAdd" style="padding-top: 1rem;">Address</p>
      <p class="locDet">{{firstParam.name}} </p> 
      <p class="locDet">{{firstParam.header}} </p> 
    <p class="locDet">{{firstParam.mobileNo}}</p>

      <p  class="locAdd">Timings</p>
      <p class="locDet">M-F : {{firstParam.timingsWeekDays}} </p> 
      <p class="locDet">Sat : {{firstParam.timingSat}} </p> 
      <p class="locDet">Sun : {{firstParam.timingSun}} </p> 
      <p style="text-align: center;">
        <button ion-button style="text-align: center;width: 96% !important;" (click)="clickToMenuItems(firstParam.header)" class="defaultBtn" color="defaultBtn">SET PICKUP RESTAURANT</button> <br>
      </p>
      </div>-->
  <div *ngIf="platFormType == 'Windows' " style="background:white;width: 135rem;">
    <div style="padding-left: 30px;padding-right: 30px;">
      <div class="locAdd" style="padding-top: 1rem;">Address</div>
      <div class="locDet">{{firstParam.name}} </div>
      <div class="locDet">{{firstParam.header}} </div>
      <div class="locDet">{{firstParam.mobileNo}}</div>
      <!--<p *ngIf = "platFormType !== 'Windows' "> 
      <a ion-button href="tel:+(949) 588-0716" class="callPhone" color="callPhone" ><ion-icon ios="ios-call-outline"></ion-icon>&nbsp;CALL</a> 
      </p> -->
      <div class="locAdd">Timings</div>
      <div class="locDet">M-F : {{firstParam.timingsWeekDays}} </div>
      <div class="locDet">Sat : {{firstParam.timingSat}} </div>
      <div class="locDet">Sun : {{firstParam.timingSun}} </div>
      <div class="setPickUpBtn"><button ion-button style="text-align: center;width: 100% !important;" (click)="clickToMenuItems(firstParam.header,firstParam)"
          class="defaultBtn button_font" color="defaultBtn">SET PICKUP RESTAURANT</button> <br>
      </div>
    </div>
  </div>
  <div class="setPickup" *ngIf="platFormType !== 'Windows' " style="background:white;width: auto;height: auto;">
    <div style="padding-left: 30px;padding-right: 30px;">
      <div class="locAdd button_font" style="padding-top: 1rem;">Address</div>
      <div class="locDet">{{firstParam.name}} </div>
      <div class="locDet">{{firstParam.header}} </div>
      <div class="locDet">{{firstParam.mobileNo}}</div>
      <!--<p *ngIf = "platFormType !== 'Windows' "> 
      <a ion-button href="tel:+(949) 588-0716" class="callPhone" color="callPhone" ><ion-icon ios="ios-call-outline"></ion-icon>&nbsp;CALL</a> 
      </p> -->
      <div class="locAdd button_font">Timings</div>
      <div class="locDet">M-F : {{firstParam.timingsWeekDays}} </div>
      <div class="locDet">Sat : {{firstParam.timingSat}} </div>
      <div class="locDet">Sun : {{firstParam.timingSun}} </div>
      <div class="setPickUpBtn"><button ion-button (click)="clickToMenuItems(firstParam.header,firstParam.store_id)" class="defaultBtn button_font" color="defaultBtn">SET PICKUP RESTAURANT</button>        <br>
      </div>
    </div>
  </div>
</ion-content>