.mapBorder{
    background-color: white !important;
}

.locDet{
    color: white;
    font-size: larger;
    width: 60%;
    white-space: initial;
}

.locMiles{
    color: yellow;
    font-size: larger;
    width: 60%;
    white-space: initial;
    text-align: right;
    float: right;
    /* top: 11% !important; */
    margin-top: 1.4%;
}

.bgRes{
    background-color: #312f2f;
  }

  .callPhone{
      border : 1px solid white;
  }