<ion-header class="storeItemsheader">
    <ion-grid class="header-grid">
        <ion-row>
            <ion-col width-10 class="header-grid-col1">
                <ion-icon ios="md-arrow-back" md="md-arrow-back" (click)="goToCardDesign()"></ion-icon>
            </ion-col>
            <ion-col width-80 class="header-grid-col2">SELECT AMOUNT</ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content class="cardAmountStyles">
    <div [ngClass]="platFormType == 'Windows' ? 'giftCardWindows' : 'giftCardMobile' ">
        <ion-row style="font-weight: bold;margin-top: 25px;">
            <ion-col width-75 style="color: #78797a;font-size: 18px;text-align: left">{{cardAmountList.name}}</ion-col>
            <ion-col width-25 style="text-align: end;color: #f16649;"> ${{cardAmountList.price}}
            </ion-col>
        </ion-row>
        <ion-row style="font-weight: bold;margin-top: 25px;height: 270px;">
            <ion-col width-100 style="color: #78797a;font-size: 14px;text-align: left"><img style="width: 100%;height: 258px;" [src]="cardAmountList.image" /></ion-col>
        </ion-row>

        <ion-row style="font-weight: bold;margin-top: 25px;">
            <ion-col width-100 style="color: #78797a;font-size: 18px;text-align: left">Select the price amount</ion-col>
        </ion-row>

        <hr style="background: #444444;">

        <div class="redeemPointsList">
            <div class="redeemPointsList-container">
                <div class="doller-points" *ngFor="let offer of nextRedeemOffers; let i = index">
                    <div class="dollar" [style.color]="i == 0 ? '#ff3a2f' : ''" [style.border]="i == 0 ? '1px solid #ff3a2f' : ''" [style.background]="i !== 0 ? '#4a4a4a' : ''">{{offer.doller}}</div>
                    <div class="points">{{offer.points}}</div>
                </div>
            </div>
        </div>  

        <hr style="background: #444444;">
    </div>
</ion-content>


<ion-footer class="storeDetFooter" *ngIf="overlayAddress">
    <ion-grid class="start-btn-grid">
        <ion-row class="start-btn-row" style="height: 45px;line-height: 27px;">
            <ion-col width-100 class="start-btn-col1">MAKE PAYMENT</ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>