.paymentScreenheader{
    background: #ff3a2f;
    color: #fff !important;
}
.paymentScreenContent{
    background: #393938;
}
.availableCards{
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        color: white;
        overflow-x: auto;
        display: flex;
    }

    li {
        float: left;
        background: transparent;
        margin-left: 10px;
        display: flex;
        margin-top: 10px;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111111;
    }
    ion-grid{
        width: 100%;
        cursor: pointer;
    }
    li:first-child{
        margin-left: 0px !important;
    }

}
.availableCards .swiper-pagination-bullets{
    bottom: 0px !important;
}
.availableCards .slide-zoom{
    height: 200px;
}
.paymentScreenParentDiv{
    width: 100%;
    padding: 0 5%;
}
.paymentScreenCards{
    color: #9b9b9b;
    margin-top: 10px;
    margin-left: 10px;
}
.availableCards .swiper-pagination-bullet-active{
    background: #ff3a2f;
}
.paymentScreenBtn{
    background: #9CA548;
    margin-bottom: 0px;
    margin-top: 0px;
}
.paymentScreenBtn:hover {
    background: #9CA548 !important;
}
.paymentScreenBtn:focus {
    background: #9CA548 !important;
}
.availCardsDiv{
    height: 150px;
    width: 200px;
    margin-left: 10px;
}
.availableCards div:first-child{
    margin-left: 0px !important;
}
.paymentScreenParentDiv2{
    width: 100%;
    padding: 0 20%;
}