.ProfileHeader{
    background: #ff3a2f;
    color: white;
}
.profileEdit{
    font-size: 14px !important;
    cursor: pointer;
}
.ProfileDiv{
    margin: 5px;
    color: #868686;
    font-size: 16px !important;
}
.ProfileParentDiv2{
    width: 100%;
    padding: 1% 30% 5% 30%;
}
.ProfileParentDiv{
    width: 100%;
    padding: 5% 5% 12% 5%;
}
.changeAddr{
    height: 50px;
    line-height: 25px;
    margin-left: 30px;
    width: 89%;
}
.changeAddr2{
    height: 50px;
    line-height: 25px;
    margin-left: 30px;
}
.addrLabel{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin-left: 25px !important;
    width: 78% !important;
    color: white !important;
}
.addrLabel2{
    margin-left: 25px !important;
    width: 89% !important;
    color: white !important;
}
.changePassword{
    display: inline-block;
    width: 80% !important;
    margin-left: 25px !important;
    color: white !important;
}
.changePassword2{
    margin-left: 25px !important;
    width: 90% !important;
    color: white !important;
}
.addrDiv{
    cursor: pointer;
}