<!--<ion-header *ngIf = "platFormType == 'Windows'">
  <ion-navbar>
      <ion-title>FLAVOURS</ion-title>
    </ion-navbar>  
</ion-header>

<ion-content *ngIf = "platFormType == 'Windows'" style="top: 4%;">
  <ion-scroll scrollY="true">
  <ion-list>
    <ion-item class="overflowImg">
        <p class="imgSlide" (click)="listFav(item)" *ngFor="let item of api.cardMenuList">
          <img class="imgShow" [src]=item.image/>
<span class="textAlignImg">{{item.name}}</span>  
        </p>
    </ion-item>
  </ion-list>
  </ion-scroll>
</ion-content>-->

<ion-content class="card-background-page" [class.no-scroll]="overlay">
<!--<ion-content class="card-background-page" *ngIf = "platFormType !== 'Windows'" [class.no-scroll]="overlay">-->
  <ion-fab edge top right class="fab-icon" (click)="showMenu()" *ngIf="!overlay">
    <button ion-fab mini>
      <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
    </button>
  </ion-fab>
  <ion-card *ngFor="let item of api.cardMenuList" (click)="showDetails(item.name)">
    <img [src]=item.image/>
    <div class="card-title">{{item.name}}</div>
    <div class="card-subtitle">{{item.subname}}</div>
  </ion-card>
  <div class="menu-overlay" *ngIf="overlay">
    <ion-header>
      <ion-toolbar class="toolbar-height overlayHeader">
        <ion-grid class="overlay-grid">
            <ion-row>
                <ion-col width-50 class="overlay-col1">
                  <div class="overlay-heading">{{restName}}</div>
                  <button ion-button outline class="overlay-btn">Change Store</button>
                </ion-col>
                <ion-col width-50 class="overlay-col2">
                  <div class="overlay-close-container"><ion-icon name="close-circle" end class="overlay-close" (click)="closeMenu()"></ion-icon></div>
                </ion-col>
            </ion-row>
        </ion-grid>
      </ion-toolbar> 
    </ion-header>
    <ion-content class="overlay-content" style="background: transparent !important;">
      <!--<div class="button-bar">
        <a class="button">First</a>
        <a class="button">Second</a>
        <a class="button">Third</a>
      </div>-->
      <!--<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>-->
      <!--<ion-list>
        <ion-item *ngFor="let menu of api.mainMenu">
          {{ menu.name }}
        </ion-item>
      </ion-list>-->
      <div class="menu-container">
        <div class="search-bar">
          <ion-row class="search-row">
            <ion-col width-90 class="search-bar-col1">
              <ion-input type="text" value="" placeholder="MENU'S'"></ion-input>
            </ion-col>
            <ion-col width-10 class="search-bar-col2">
              <div class="overlay-search-icon"><ion-icon name="search"></ion-icon></div>
            </ion-col>
          </ion-row>
        </div>
        <div class="menu-lists">
          <ul class="menu-lists-ul">
            <li>
              <ion-row>
                <ion-col width-100>
                  WHAT'S NEW
                </ion-col>
              </ion-row>
              </li>
            <li *ngFor="let menu of api.mainMenu">
              <ion-row>
                <ion-col width-90>{{menu.name.toUpperCase()}}</ion-col>
                <ion-col width-10><div class="menu-arrow"></div></ion-col>
              </ion-row>
            </li>
          </ul>
        </div>
      </div>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-grid class="overlay-grid">
            <ion-row>
                <ion-col width-50 class="overlay-col1">
                  <button ion-button outline class="overlay-btn">Login</button>
                  <button ion-button outline class="overlay-btn">Signup</button>
                </ion-col>
                <ion-col width-50 class="overlay-col2">
                  <div class="overlay-terms-cond"><span>Tearms and Condition</span><br/><span>Privacy Policy</span></div>
                </ion-col>
            </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-content>