<ion-header *ngIf = "platFormType == 'Windows'">
  <ion-navbar>
      <ion-title>FLAVOURS</ion-title>
    </ion-navbar>  
</ion-header>

<ion-content *ngIf = "platFormType == 'Windows'" style="top: 4%;">
  <ion-list>
    <ion-item class="overflowImg">
        <p class="imgSlide" (click)="listFav(item)" *ngFor="let item of cardMenuList.cardMenuList">
          <img class="imgShow" [src]=item.image/>
<span class="textAlignImg">{{item.name}}</span>  
        </p>
    </ion-item>
  </ion-list>
</ion-content>


<ion-content class="card-background-page" *ngIf = "platFormType !== 'Windows'">
  <!--<ion-fab edge top right class="fab-icon">
    <button ion-fab mini>
      <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
    </button>
  </ion-fab>-->
  <ion-card *ngFor="let item of cardMenuList.cardMenuList">
    <img [src]=item.image/>
    <div class="card-title">{{item.name}}</div>
    <div class="card-subtitle">{{item.subname}}</div>
  </ion-card>
  <div class="menu-overlay">
    <ion-header>
      <ion-toolbar class="toolbar-height">
        <ion-grid class="overlay-grid">
            <ion-row>
                <ion-col width-50 class="overlay-col1">
                  <div class="overlay-heading">Foothill Ranch, CA</div>
                  <button ion-button outline class="overlay-btn">Change Store</button>
                </ion-col>
                <ion-col width-50 class="overlay-col2">
                  <div class="overlay-close-container"><ion-icon name="close-circle" end class="overlay-close"></ion-icon></div>
                </ion-col>
            </ion-row>
        </ion-grid>
      </ion-toolbar> 
    </ion-header>
    <ion-content class="overlay-content">

    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-grid class="overlay-grid">
            <ion-row>
                <ion-col width-50 class="overlay-col1">
                  <button ion-button outline class="overlay-btn">LOGIN</button>
                  <button ion-button outline class="overlay-btn">SIGNUP</button>
                </ion-col>
                <ion-col width-50 class="overlay-col2">
                  <div class="overlay-terms-cond"><span>Tearms and Condition</span><br/><span>Privacy Policy</span></div>
                </ion-col>
            </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-content>