.card-background-page {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#627d4d+36,1f3b08+94 */
background: black !important; /* Old browsers */
background: -moz-linear-gradient(top,  #627d4d 36%, #1f3b08 94%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #627d4d 36%,#1f3b08 94%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #627d4d 36%,#1f3b08 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 ); /* IE6-9 */
overflow-y: hidden !important;
}

.card-background-page {

  ion-card {
    position: relative !important;
    text-align: center !important;
  }

  .card-title {
    position: absolute !important;
    top: 36% !important;
    font-size: 2.0em !important;
    width: 100% !important;
    font-weight: bold !important;
    color: #fff !important;
  }

  .card-subtitle {
    font-size: 1.0em !important;
    position: absolute !important;
    top: 52% !important;
    width: 100% !important;
    color: #fff !important;
    font-weight: bold;
  }

}

ion-card img {
    display: block;
    width: 100%;
    height: 210px;
    border-collapse: collapse;
}

// .fab-md{
//   background : #a9a9a9;
// }

.card-md {
    margin: 10px 10px 0px 0px;
    width: calc(104% - 0px);
    border-radius: 2px;
    font-size: 1.4rem;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.fab-icon{
  top:5% !important;
  right: 3% !important;
  opacity:0.7;
}
.menu-overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 20;
  top: 0;
  left: 0;
}
.overlayHeader .toolbar-background-md{
  background: #ff1700 !important;
  opacity: 0.7;
}
.toolbar-height{
  height: 85px;
}
.overlay-close{
  position: relative;
  top: 30%;
  padding-right: 4%;
  font-size: 45px;
  color: #fff;
}
.overlay-heading{
  font-size: 18px;
  color: #ff871c;
}
.overlay-btn{
  border-width: 2px;
  border-color: #813932;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
}
.overlay-content{
  background: transparent !important;
}
.overlay-terms-cond{
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  text-align: right;
  padding-right: 4%;
}
.overlay-close-container{
    text-align: right;
    height: 100%;
}
.no-scroll .scroll-content{
    overflow: hidden;
}
.menu-container{
  width: 300px;
  // border: 1px solid #fff;
  padding: 20px 0;
  margin: 0 auto;
}
.menu-lists-ul{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 13px 0;
  }
  li:hover{
    color: #ff871c;
  }
}
.overlay-content .scroll-content{
  overflow: auto;
  margin-top: 85px;
  margin-bottom: 72px;
}
.menu-arrow{
  background: url("../../assets/icon/down-arrow.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.search-bar-col2{
  position: relative;
}
.overlay-search-icon{
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
  background: #ff871c;
  text-align: center;
  line-height: 35px;
  border-radius: 24px;
  position: absolute;
  right: 0;
  top: 30%;
}
.search-row{
  border-bottom: 1px solid #636160;
}
input::-webkit-input-placeholder {
  color: blue;
}
.card-menu-icon{
  display: inline-block;
  position: absolute;
  background: #ccc;
  width: 40px;
  height: 40px;
  line-height: 45px;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  top: 10%;
  right: 20px;
}

.card-background-page ion-card{
  margin: 0;
  border-radius: 0;
}

.card-ios {
    margin: 12px 12px 12px 12px;
    width: calc(100% - 0px);
    border-radius: 2px;
    font-size: 1.4rem;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.overlayHeader .toolbar-background-ios {
    background: #ff1700 !important;
    opacity: 0.7;
}

.button-outline-ios {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: #387ef5;
    background-color: transparent;
    background-color: transparent !important;
    box-shadow: none !important;
}

.button-ios {
    overflow: hidden;
    margin: 0.4rem 0.2rem;
    padding: 0 1.1em;
    height: 3.6rem;
    border-radius: 2px;
    text-transform: uppercase;
    color: #fff;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    font-weight: normal;
}