.giftCardWindows{
    margin-left: 10%;
    width: 80%;
}

.giftCardMobile{
    // margin-left: 10%;
    width: 100%;
}

.giftCardStyles{
    background: #4a4a4a !important;
}

.giftCardStyles .item-md {
    /* position: relative; */
    padding-right: 0;
    padding-left: 16px;
    padding-top: 2%;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: white;
    background: #4a4a4a !important;
    box-shadow: none;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-bottom: 1px solid #dedede !important;
}

.giftCardStyles .item-ios {
    /* position: relative; */
    padding-right: 0;
    padding-left: 16px;
    padding-top: 2%;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: white;
    background: #4a4a4a !important;
    box-shadow: none;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-bottom: 1px solid #dedede !important;
}

.giftCardStyles .list-md .item-block .item-inner {
     border-bottom: transparent; 
}

.giftCardStyles .list-ios .item-block .item-inner {
     border-bottom: transparent; 
}

.giftCardStyles .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
    width: 120px;
    height: 90px;
    border-radius: 5px;
}

.giftCardStyles .item-ios ion-thumbnail ion-img, .item-md ion-thumbnail img {
    width: 120px;
    height: 90px;
    border-radius: 5px;
}