.offerCoupon{
    font-size: 55px !important;
    color: white !important;
}

.offerCouponTitle{
    font-size: 33px !important;
    color: white !important;
    text-align: center;
}

.offerImg{
    height: 325px !important;
}

.offerImgDiv{
    height: 235px !important;
    text-align: center;
    width: 100%;
}

.offerImgQR{
    width: 200px !important;
    height: 200px !important;
}

.offerExpire{
    height: 20px !important;
    margin-top: -112px !important;
}

.offerExpDate{
    font-size: 17px !important;
    color: #7a7a7a !important;
    text-align: center;
}

.offerNote{
    height: 10px !important;
    margin-top: 25px !important;
}

.offerCode{
    font-size: 12px !important;
    color: #7a7a7a !important;
    text-align: center;
}

.offerTitle{
    height: 70px !important;
    margin-top: -10px !important;
}