<ion-header class="storeItemsheader" *ngIf="overlayAddress">
    <ion-grid class="header-grid">
        <ion-row>
            <ion-col width-10 class="header-grid-col1">
                <ion-icon ios="md-arrow-back" md="md-arrow-back"></ion-icon>
            </ion-col>
            <ion-col width-80 class="header-grid-col2">CARD DESIGN</ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content class="cardDesignStyles">
    <div [ngClass]="platFormType == 'Windows' ? 'giftCardWindows' : 'giftCardMobile' ">
        <ion-row style="font-weight: bold;margin-top: 25px;">
            <ion-col width-100 style="color: #d8d8d8;font-size: 18px;text-align: left">Select Card Design</ion-col>
        </ion-row>
        <hr style="background: #444444;">

        <div class="sub-menu-container">
            <ul>
                <li *ngFor="let item of cardDesign" class="card-product" (click)="cardDesignClick(item)">
                    <div class="product-img" style="width: 100%;height: 75%;">
                        <img style="height: 135%;width: 100%;" [src]="item.image">
                    </div>
                    <div class="hoverImg">
                        <img src="../../assets/imgs/checked.png" alt="Profile Image">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</ion-content>


<ion-footer class="storeDetFooter" *ngIf="overlayAddress">
    <ion-grid class="start-btn-grid">
        <ion-row class="start-btn-row" style="height: 45px;line-height: 27px;">
            <ion-col width-100 class="start-btn-col1">NEXT</ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>