<ion-header class="headerStore">NEAR BY STORES
    <ion-fab top left edge class="leftFab">
    <button ion-fab mini (click)="backToStartPage()"><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon></button>
  </ion-fab>
    <ion-fab top right edge>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab></ion-header><br><br><br><br>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Store, City or Zipcode" showCancelButton="true"></ion-searchbar>
<ion-content padding class="page-home1">
  <ion-scroll scrollY="true">
  <ion-searchbar placeholder="Store, City or Zipcode" showCancelButton="true"></ion-searchbar>
  <p class="recCount"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Totally <strong> 10 </strong> Stores Found <br><br>
  <ion-item *ngFor="let item of restraList.items" class="bgItem" (click)="slideNav(item)">
      <ion-avatar item-left>
        <span *ngIf = "item.status == 'open' " style="width:60%;white-space: initial;vertical-align: middle;">
      <img src="../../assets/imgs/iphone.png" /> 
      </span>
      <span *ngIf = "item.status == 'closed' " style="width:60%;white-space: initial;vertical-align: middle;">
      <img src="../../assets/imgs/iphone.png" /> 
      </span>
      </ion-avatar>
      <h2 style="width:100%;white-space: initial;">{{item.name}}</h2>
      <span class="defaultTxtColor" item-right>{{item.long}}<p style="font-size: 1.3rem;font-weight: 500;">{{item.miles}}</p></span>
      <ion-note item-right><img src="../../assets/imgs/right-arrow (1).png" /> </ion-note>
      
    </ion-item>
  </p>
</ion-scroll>
</ion-content>

<!--<ion-footer>
    <button ion-button full item-left class="defaultBtn" color="defaultBtn"> <ion-icon name='search' style="color: black;"></ion-icon>&nbsp; SEARCH</button>
</ion-footer>-->


